body{
    font: bold 18px Calibri;
}
.the_form{
    background-color:lightsteelblue;
    border-radius: 20px
    text-align: left;
    box-sizing: border-box;
    margin-right: 25%;
    margin-left: 25%;
    border: 2px solid black;
    padding: 20px;
}
.button{
    text-align: center;
}
button{
    border: 2px solid black;
}