*{
    margin: 0px;
    padding: 0px;
}
.img_container{
    text-align: center;
    border-radius: 50%;
}
.content{
    display: grid;
    grid-template-columns: 50% 30%;
    text-align: left;
    margin-left: 20px;  
    font: 16px Segoe UI;  
}
header{
    text-align: center;
    font: bolder 24px Segoe UI;
    background-color: lightsteelblue;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 5px;
}
a{
    font: bold 16px Segoe UI;
    margin-left: 20px;
    background-color:palegoldenrod ;
    padding: 5px;
    border-radius: 30px;
}
footer{
    text-align: center;
    font: bolder 18px Segoe UI;
    background-color: lightsteelblue;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 5px;
}